<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<!-- Meta -->
			<title>Case Study &middot; Lazyouts &middot; Tyler Richardson</title>
			<meta name="description" content="Examples of the creative work of Product Designer Tyler Richardson" />
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="manifest" href="../manifest.json">
			<link rel="apple-touch-icon" href="../images/icon-192.png">
		<!-- CSS -->
			<!-- UI -->
			<link rel="stylesheet" href="/stylesheets/css/ui.min.css" rel="preload" as="style" />
			<link rel="stylesheet" href="/stylesheets/css/case-study.min.css" rel="preload" as="style" />
			<!-- Material Icons -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
			<!-- Hero Image -->
			<style>
				.hero {background-image: url('/images/case-studies/overview/overview_opb-wireframe-loop.gif');}
			</style>
	</head>
	<body>
		<!-- Navigation -->
		<div class="nav">
			<div class="nav-tab">
				<i class="material-icons nav-close-icon">close</i>
			</div>
			<div class="nav-content">
				<div class="nav-content">
					<img data-srcset="/images/nav-badge@1x.png,
							   /images/nav-badge@2x.png 2x,
							   /images/nav-badge@3x.png 3x"
						data-src="/images/nav-badge@3x.png"
						src="/images/nav-badge@3x.png" alt="Product Designer, Tyler Richardson" class="nav-art lazyload">
						<a href="/" class="nav-link">About Me</a>
						<a href="/case-studies/" class="nav-link">Case Studies</a>
				</div>
			</div>
		</div>
		<!-- Hero -->
		<div class="hero">
			<!-- Hero Copy -->
			<div class="hero-copy">
				<h1 class="hero-title">Lazyouts</h1>
				<h2 class="hero-subtitle">Case Study</h2>
			</div>
			<!-- Hero Filter -->
			<div class="hero-filter"></div>
			<!-- Hero Buttons -->
			<!-- <div class="hero-buttons">
				<a href="#" class="hero-btn">
					<img src="../images/tyler.png" alt="Tyler Richardson" class="hero-btn--img">
				</a>
				<a href="#" class="hero-btn">
					<i class="material-icons">email</i>
				</a>
			</div> -->
			<!-- View More CTA -->
			<div class="hero-view-more-row">
				<a href="#case-study" class="hero-view-more-btn heartbeat">
					<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</div>

		<!-- Anchor to Main Content from the Hero -->
		<a name="case-study"></a>

		<div class="content cards content--overview d1c t1c m1c case-study__content">

			<div class="card card--flex">

				<div class="card__col--75">
					<h3 class="title">Overview</h3>
					<h4 class="subtitle">Project Description</h4>
					<p class="copy">Shaman lyft meh tofu paleo. Tbh yr ugh air plant iceland. Occupy adaptogen kinfolk thundercats blog church-key pork belly humblebrag viral man braid 3 wolf moon tattooed mustache. Mumblecore lo-fi before they sold out pabst. Cloud bread schlitz waistcoat, venmo hell of cray microdosing single-origin coffee taxidermy shaman raclette affogato freegan.</p>
				</div>

				<div class="card__col--25">
					<h4 class="subtitle">Client</h4>
					<img class="client-brand" src="/images/case-studies/quotedcar-brand.png" alt="QuotedCar, LLC" />
					<h4 class="subtitle">Role</h4>
					<ul class="list role-list">
						<li>Project Manager</li>
						<li>Front-End Developer</li>
					</ul>
					<h4 class="subtitle">Skills &amp; Tools Involved</h4>
					<div class="tags">
						<div class="tag">HTML</div>
						<div class="tag">CSS</div>
						<div class="tag">Sass</div>
						<div class="tag">JavaScript</div>
						<div class="tag">jQuery</div>
					</div>
				</div>

			</div>

		</div>

		<div class="stripe black case-study__content">

			<div class="stripe_copy-container">

				<h3 class="title">The Problem</h3>
				<p class="copy">Shaman lyft meh tofu paleo. Tbh yr ugh air plant iceland. Occupy adaptogen kinfolk thundercats blog church-key pork belly humblebrag viral man braid 3 wolf moon tattooed mustache. Mumblecore lo-fi before they sold out pabst. Cloud bread schlitz waistcoat, venmo hell of cray microdosing single-origin coffee taxidermy shaman raclette affogato freegan.</p>

			</div>

			<div class="stripe_stat-container">
				<h3 class="title--stat">69%</h3>
				<p class="copy--stat">Occupy adaptogen kinfolk thundercats blog church-key pork belly.</p>
			</div>

			<div class="stripe_stat-container">
				<h3 class="title--stat">27%</h3>
				<p class="copy--stat">Viral man braid 3 wolf moon tattooed mustache..</p>
			</div>

		</div>

		<div class="content cards d1c t1c m1c case-study__content">

			<div class="card">

				<h3 class="title">The Process</h3>

				<h4 class="subtitle">Needs Assesment</h4>
				<p class="copy">Shaman lyft meh tofu paleo. Tbh yr ugh air plant iceland. Occupy adaptogen kinfolk thundercats blog church-key pork belly humblebrag viral man braid 3 wolf moon tattooed mustache. Mumblecore lo-fi before they sold out pabst.</p>

				<h4 class="subtitle">Development Considerations</h4>
				<p class="copy">Shaman lyft meh tofu paleo. Tbh yr ugh air plant iceland. Occupy adaptogen kinfolk thundercats blog church-key pork belly humblebrag viral man braid 3 wolf moon tattooed mustache. Mumblecore lo-fi before they sold out pabst.</p>

			</div>

		</div>

		<div class="stripe green case-study__content">

			<div class="stripe_copy-container">

				<h3 class="title">The Solution</h3>
				<p class="copy">Shaman lyft meh tofu paleo. Tbh yr ugh air plant iceland. Occupy adaptogen kinfolk thundercats blog church-key pork belly humblebrag viral man braid 3 wolf moon tattooed mustache. Mumblecore lo-fi before they sold out pabst. Cloud bread schlitz waistcoat, venmo hell of cray microdosing single-origin coffee taxidermy shaman raclette affogato freegan.</p>

			</div>

			<div class="stripe_stat-container">
				<h3 class="title--stat">34%</h3>
				<p class="copy--stat">Occupy adaptogen kinfolk thundercats blog church-key pork belly.</p>
			</div>

			<div class="stripe_stat-container">
				<h3 class="title--stat">66%</h3>
				<p class="copy--stat">Viral man braid 3 wolf moon tattooed mustache..</p>
			</div>

		</div>

		<!-- Footer -->
		<div class="footer">
			<div class="copyright-year">
				<div class="copyright-year--left">20</div>
				<div class="copyright-year--middle">
					<img data-srcset="/images/copyright.svg"
						data-src="/images/copyright.svg"
						src="/images/copyright.svg" alt="Copyright Tyler Richardson All Rights Reserved" class="copyright-symbol lazyload">
				</div>
				<div class="copyright-year--right">20</div>
			</div>
			<h2 class="copyright-attribution">Tyler Richardson</h2>
			<p class="copyright-copy">All Rights Reserved</p>
		</div>
		<!-- JS -->
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/7.7.0/firebase-app.js"></script>
		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="/__/firebase/7.7.0/firebase-analytics.js"></script>
		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- Lettering JS -->
		<script src="/javascripts/jquery.lettering-0.6.1.min.js"></script>
		<!-- Lazysizes -->
		<script src="/javascripts/plugins/lazysizes.min.js" async></script>
		<!-- UI -->
		<script src="/javascripts/ui.min.js"></script>
	</body>
</html>
