<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<!-- Meta -->
			<title>Case Study &middot; QuotedCar's Logo &middot; Tyler Richardson</title>
			<meta name="description" content="Examples of the creative work of Product Designer Tyler Richardson" />
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="manifest" href="../manifest.json">
			<link rel="apple-touch-icon" href="../images/icon-192.png">
		<!-- CSS -->
			<!-- UI -->
			<link rel="stylesheet" href="/stylesheets/css/ui.min.css" rel="preload" as="style" />
			<link rel="stylesheet" href="/stylesheets/css/case-study.min.css" rel="preload" as="style" />
			<!-- Material Icons -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
			<style>
				.hero {background-image: url('/images/case-studies/overview/overview_opb-wireframe-loop.gif');}
			</style>
	</head>
	<body>
		<!-- Navigation -->
		<div class="nav">
			<div class="nav-tab">
				<i class="material-icons nav-close-icon">close</i>
			</div>
			<div class="nav-content">
				<div class="nav-content">
					<img data-srcset="/images/nav-badge@1x.png,
							   /images/nav-badge@2x.png 2x,
							   /images/nav-badge@3x.png 3x"
						data-src="/images/nav-badge@3x.png"
						src="/images/nav-badge@3x.png" alt="Product Designer, Tyler Richardson" class="nav-art lazyload">
						<a href="/" class="nav-link">About Me</a>
						<a href="/case-studies/" class="nav-link nav-current-view">Case Studies</a>
				</div>
			</div>
		</div>
		<div class="content-controls">
			<div class="cc-button cc-button-inactive" data-view="stack">
				<?xml version="1.0" encoding="UTF-8"?>
				<svg width="14px" height="33px" viewBox="0 0 17 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <defs>
				        <linearGradient x1="50%" y1="10.1430532%" x2="50%" y2="100%" id="linearGradient-1">
				            <stop stop-color="#FFFFFF" offset="0%"></stop>
				            <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
				        </linearGradient>
				    </defs>
				    <g id="icon-card-stack" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="icon-card-stack-artboard" transform="translate(-63.000000, -67.000000)">
				            <g id="icon-card-stack-group" transform="translate(63.000000, 67.000000)">
				                <rect id="icon-card-stack-rect-1" fill="#FFFFFF" x="0" y="0" width="17" height="10.2000003" rx="1.70000005"></rect>
				                <rect id="icon-card-stack-rect-2" fill="#FFFFFF" x="0" y="12.7500003" width="17" height="10.2000003" rx="1.70000005"></rect>
				                <rect id="icon-card-stack-rect-3" fill="url(#linearGradient-1)" x="0" y="25.5000006" width="17" height="10.2000003" rx="1.70000005"></rect>
				            </g>
				        </g>
				    </g>
				</svg>
				<!-- <i class="material-icons cc-icon">view_stream</i> -->
			</div>
			<div class="cc-button" data-view="grid">
				<?xml version="1.0" encoding="UTF-8"?>
				<svg width="22px" height="22px" viewBox="0 0 27 27" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
				    <!-- Generator: Sketch 63.1 (92452) - https://sketch.com -->
				    <title>Group 2</title>
				    <desc>Created with Sketch.</desc>
				    <defs>
				        <linearGradient x1="50%" y1="10.1430532%" x2="50%" y2="100%" id="linearGradient-1">
				            <stop stop-color="#FFFFFF" offset="0%"></stop>
				            <stop stop-color="#FFFFFF" stop-opacity="0" offset="100%"></stop>
				        </linearGradient>
				    </defs>
				    <g id="icon-card-grid" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
				        <g id="icon-card-grid-artboard" transform="translate(-117.000000, -72.000000)">
				            <g id="icon-card-grid-grouping" transform="translate(117.000000, 72.000000)">
				                <g id="icon-card-grid-group-1">
				                    <rect id="icon-card-grid-group-1-rect-1" fill="#FFFFFF" x="0" y="0" width="7" height="7" rx="1.70000005"></rect>
				                    <rect id="icon-card-grid-group-1-rect-2" fill="#FFFFFF" x="0" y="10" width="7" height="7" rx="1.70000005"></rect>
				                    <rect id="icon-card-grid-group-1-rect-3" fill="url(#linearGradient-1)" x="0" y="20" width="7" height="7" rx="1.70000005"></rect>
				                </g>
				                <g id="icon-card-grid-group-2" transform="translate(10.000000, 0.000000)">
				                    <rect id="icon-card-grid-group-2-rect-1" fill="#FFFFFF" x="0" y="0" width="7" height="7" rx="1.70000005"></rect>
				                    <rect id="icon-card-grid-group-2-rect-2" fill="#FFFFFF" x="0" y="10" width="7" height="7" rx="1.70000005"></rect>
				                    <rect id="icon-card-grid-group-2-rect-3" fill="url(#linearGradient-1)" x="0" y="20" width="7" height="7" rx="1.70000005"></rect>
				                </g>
				                <g id="icon-card-grid-group-3" transform="translate(20.000000, 0.000000)">
				                    <rect id="icon-card-grid-group-3-rect-1" fill="#FFFFFF" x="0" y="0" width="7" height="7" rx="1.70000005"></rect>
				                    <rect id="icon-card-grid-group-3-rect-2" fill="#FFFFFF" x="0" y="10" width="7" height="7" rx="1.70000005"></rect>
				                    <rect id="icon-card-grid-group-3-rect-3" fill="url(#linearGradient-1)" x="0" y="20" width="7" height="7" rx="1.70000005"></rect>
				                </g>
				            </g>
				        </g>
				    </g>
				</svg>
				<!-- <i class="material-icons cc-icon">view_module</i> -->
			</div>
		</div>
		<!-- Hero -->
		<div class="hero">
			<!-- Hero Copy -->
			<div class="hero-copy">
				<h1 class="hero-title">QuotedCar's Logo</h1>
				<h2 class="hero-subtitle">Case Study</h2>
			</div>
			<!-- Hero Filter -->
			<div class="hero-filter"></div>
			<!-- Hero Buttons -->
			<!-- <div class="hero-buttons">
				<a href="#" class="hero-btn">
					<img src="../images/tyler.png" alt="Tyler Richardson" class="hero-btn--img">
				</a>
				<a href="#" class="hero-btn">
					<i class="material-icons">email</i>
				</a>
			</div> -->
			<!-- View More CTA -->
			<div class="hero-view-more-row">
				<a href="#case-study" class="hero-view-more-btn heartbeat">
					<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</div>

		<!-- Anchor to Main Content from the Hero -->
		<a name="case-study"></a>

		<!-- <div class="overview-content-grid d3c t1c m1c"> -->
		<div class="overview-content-grid">

			<div class="cards d1c t1c m1c">
				<div class="card">
					<h3 class="card-title">Lazyouts</h3>
					<p class="card-copy">A front-end component library I wrote for QuotedCar. Developed in HTML, CSS and JavaScript.</p>
					<p class="card-copy">Lazyouts includes SASS varaibles for UI consistency in regard to type, padding, margins, etc. and utilizes SASS mixins to support its simple and intuitive responsive grid system. Lazyouts also contains numerous UI components built in HTML and CSS, as well as a mix of utility functions written in JavaScript.</p>
					<h4 class="card-subtitle">Project Roles</h4>
					<ul class="card-list">
						<li>Project Manager</li>
						<li>Front-End Developer</li>
					</ul>
					<h4 class="card-subtitle">Skills &amp; Tools Involved</h4>
					<div class="tags">
						<div class="tag">HTML</div>
						<div class="tag">CSS</div>
						<div class="tag">Sass</div>
						<div class="tag">JavaScript</div>
						<div class="tag">jQuery</div>
					</div>
				</div>
			</div>

		</div>
		<!-- Footer -->
		<div class="footer">
			<div class="copyright-year">
				<div class="copyright-year--left">20</div>
				<div class="copyright-year--middle">
					<img data-srcset="/images/copyright.svg"
						data-src="/images/copyright.svg"
						src="/images/copyright.svg" alt="Copyright Tyler Richardson All Rights Reserved" class="copyright-symbol lazyload">
				</div>
				<div class="copyright-year--right">20</div>
			</div>
			<h2 class="copyright-attribution">Tyler Richardson</h2>
			<p class="copyright-copy">All Rights Reserved</p>
		</div>
		<!-- JS -->
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/7.7.0/firebase-app.js"></script>
		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="/__/firebase/7.7.0/firebase-analytics.js"></script>
		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- Lettering JS -->
		<script src="/javascripts/jquery.lettering-0.6.1.min.js"></script>
		<!-- Lazysizes -->
		<script src="/javascripts/plugins/lazysizes.min.js" async></script>
		<!-- UI -->
		<script src="/javascripts/ui.min.js"></script>
	</body>
</html>
