<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<!-- Meta -->
			<title>Case Study &middot; Vehicle Pricing Satellite &middot; Tyler Richardson</title>
			<meta name="description" content="Examples of the creative work of Product Designer Tyler Richardson" />
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="manifest" href="../../manifest.json">
			<link rel="apple-touch-icon" href="../images/icon-192.png">
		<!-- JS (That's Necessary in <head>) -->
			<!-- SVG.JS -->
			<script src="../../javascripts/plugins/svg.min.js" async></script>
		<!-- CSS -->
			<!-- UI -->
			<link rel="stylesheet" href="/stylesheets/css/ui.min.css" rel="preload" as="style" />
			<link rel="stylesheet" href="/stylesheets/css/case-study.min.css" rel="preload" as="style" />
			<!-- Material Icons -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
			<!-- Hero Image -->
			<style>
				.hero {background-image: url('/images/case-studies/overview/overview_opb-wireframe-loop.gif');}
			</style>
	</head>
	<body>
		<!-- Navigation -->
		<div class="nav">
			<div class="nav-tab">
				<i class="material-icons nav-close-icon">close</i>
			</div>
			<div class="nav-content">
				<div class="nav-content">
					<img data-srcset="/images/nav-badge@1x.png,
							   /images/nav-badge@2x.png 2x,
							   /images/nav-badge@3x.png 3x"
						data-src="/images/nav-badge@3x.png"
						src="/images/nav-badge@3x.png" alt="Product Designer, Tyler Richardson" class="nav-art lazyload">
						<a href="/" class="nav-link">About Me</a>
						<a href="/case-studies/" class="nav-link">Case Studies</a>
				</div>
			</div>
		</div>
		<!-- Hero -->
		<div class="hero">
			<!-- Hero Copy -->
			<div class="hero-copy">
				<h1 class="hero-title">Lazyouts</h1>
				<h2 class="hero-subtitle">Case Study</h2>
			</div>
			<!-- Hero Filter -->
			<div class="hero-filter"></div>
			<!-- Hero Buttons -->
			{{!-- <div class="hero-buttons">
				<a href="" class="hero-btn">
					<img src="../images/tyler.png" alt="Tyler Richardson" class="hero-btn--img">
				</a>
				<a href="" class="hero-btn">
					<i class="material-icons">email</i>
				</a>
			</div> --}}
			<!-- View More CTA -->
			<div class="hero-view-more-row">
				<a href="#case-study" class="hero-view-more-btn heartbeat">
					<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</div>

		<!-- Anchor to Main Content from the Hero -->
		<a name="case-study"></a>

		<!-- Case Study Overview -->
		<div class="content cards content--overview d1c t1c m1c case-study__content">

			<div class="card card--flex">

				<div class="card__col--75">
					<h3 class="title">Overview</h3>
					<h4 class="subtitle">Project Description</h4>
					<p class="copy">An initiative to bring consistency to all of QuotedCar's products, and speed up future development through the development of an in-house front-end framework. While Bootstrap was useful for us in the past, a lot of development time was spent overriding the framework's opinionated visual style.</p>
					<!-- <p class="copy"></p> -->

					<div class="card--img-row">

						<img data-srcset=".../../images/case-studies/overview/overview_email-gen@1x.png,
								   ../../images/case-studies/overview/overview_email-gen@2x.png 2x,
								   ../../images/case-studies/overview/overview_email-gen@3x.png 3x"
							data-src="../../images/case-studies/overview/overview_email-gen@3x.png"
							src="../../images/case-studies/overview/overview_email-gen@3x.png"
							class="img-row__img color lazyload modal_trigger--open"
							alt="Title 1"
							data-description="Description 1">

						<img data-srcset="../../images/case-studies/overview/overview_qc-logo@1x.png,
								   ../../images/case-studies/overview/overview_qc-logo@2x.png 2x,
								   ../../images/case-studies/overview/overview_qc-logo@3x.png 3x"
							data-src="../../images/case-studies/overview/overview_qc-logo@3x.png"
							src="../../images/case-studies/overview/overview_qc-logo@3x.png"
							class="img-row__img color lazyload modal_trigger--open"
							alt="Title 2"
							data-description="Description 2">

					</div>

				</div>

				<div class="card__col--25">
					<h4 class="subtitle">Client</h4>
					<img data-srcset="/images/case-studies/quotedcar-brand@1x.png,
							   /images/case-studies/quotedcar-brand@2x.png 2x,
							   /images/case-studies/quotedcar-brand@3x.png 3x"
						data-src="/images/case-studies/quotedcar-brand@3x.png"
						src="/images/case-studies/quotedcar-brand@3x.png"
						class="client-brand lazyload"
						alt="QuotedCar, LLC">
					<h4 class="subtitle">Roles</h4>
					<div class="tags">
						<div class="tag">Project Manager</div>
						<div class="tag">UX Design</div>
						<div class="tag">Front-End Dev</div>
					</div>
					<h4 class="subtitle">Skills &amp; Tools</h4>
					<div class="tags">
						<div class="tag">Sketch</div>
						<div class="tag">Figma</div>
						<div class="tag">HTML</div>
						<div class="tag">CSS</div>
						<div class="tag">Sass</div>
						<div class="tag">JavaScript</div>
						<div class="tag">jQuery</div>
					</div>
				</div>

			</div>

		</div>

		<!-- "Problem" -->
		<div class="stripe black case-study__content">

			<div class="stripe_copy-container">

				<h3 class="title">The Problem</h3>
				<p class="copy">While our developers have plenty of design reference, they spend a significant amount of time writing the same code over and over. "How many different class names do we have for a simple card?" I asked myself.</p>

			</div>

			<div class="stripe_stat-container">
				<h3 class="title--stat">4</h3>
				<p class="copy--stat">Different ways a card's HTML &amp; CSS was written in v1.2.1</p>
			</div>

			<div class="stripe_stat-container">
				<h3 class="title--stat">1</h3>
				<p class="copy--stat">Senior level developer on the team</p>
			</div>

		</div>

		<!-- "Process" -->
		<div class="content cards d1c t1c m1c case-study__content content--process">

			<div class="card">

				<h3 class="title">The Process</h3>

				<div class="timeline">

					<div id="timeline-track">


					</div>

					<div class="timeline-content">

						<div class="interval">
							<h4 class="subtitle">Assessing Needs, Functionally and Visually</h4>
							<p class="copy">Aside from the mandate for consistency. Before a pixel was pushed we needed to brainstorm the components we use most, what we like or don't like about how we build those compnents now, and what components will be added to the framework, and when.</p>
						</div>

						<div class="timeline--img-row interval--img-row">

							<img data-srcset=".../../images/case-studies/overview/overview_email-gen@1x.png,
									   ../../images/case-studies/overview/overview_email-gen@2x.png 2x,
									   ../../images/case-studies/overview/overview_email-gen@3x.png 3x"
								data-src="../../images/case-studies/overview/overview_email-gen@3x.png"
								src="../../images/case-studies/overview/overview_email-gen@3x.png"
								class="timeline--img-row__img color lazyload modal_trigger--open"
								alt="Title 1"
								data-description="Description 1">

							<img data-srcset="../../images/case-studies/overview/overview_qc-logo@1x.png,
									   ../../images/case-studies/overview/overview_qc-logo@2x.png 2x,
									   ../../images/case-studies/overview/overview_qc-logo@3x.png 3x"
								data-src="../../images/case-studies/overview/overview_qc-logo@3x.png"
								src="../../images/case-studies/overview/overview_qc-logo@3x.png"
								class="timeline--img-row__img color lazyload modal_trigger--open"
								alt="Title 2"
								data-description="Description 2">

						</div>

						<div class="interval">
							<h4 class="subtitle">Selecting the Stack</h4>
							<p class="copy">XXXXX.</p>
						</div>

						<div class="subinterval">
							<h4 class="subtitle">Example Subinterval Title</h4>
							<p class="copy">Example Subinterval paragraph</p>
						</div>

						<div class="interval">
							<h4 class="subtitle">Example Interval Title</h4>
							<p class="copy">Example Interval Paragraph</p>
						</div>

						<div class="subinterval">
							<h4 class="subtitle">Example Subinterval Title</h4>
							<p class="copy">Example Subinterval paragraph</p>
						</div>

						<div class="timeline--img-row interval--img-row">

							<img data-srcset=".../../images/case-studies/overview/overview_email-gen@1x.png,
									   ../../images/case-studies/overview/overview_email-gen@2x.png 2x,
									   ../../images/case-studies/overview/overview_email-gen@3x.png 3x"
								data-src="../../images/case-studies/overview/overview_email-gen@3x.png"
								src="../../images/case-studies/overview/overview_email-gen@3x.png"
								class="timeline--img-row__img color lazyload modal_trigger--open"
								alt="Title 1"
								data-description="Description 1">

							<img data-srcset="../../images/case-studies/overview/overview_qc-logo@1x.png,
									   ../../images/case-studies/overview/overview_qc-logo@2x.png 2x,
									   ../../images/case-studies/overview/overview_qc-logo@3x.png 3x"
								data-src="../../images/case-studies/overview/overview_qc-logo@3x.png"
								src="../../images/case-studies/overview/overview_qc-logo@3x.png"
								class="timeline--img-row__img color lazyload modal_trigger--open"
								alt="Title 2"
								data-description="Description 2">

						</div>

						<div class="subinterval">
							<h4 class="subtitle">Example Subinterval Title</h4>
							<p class="copy">Example Subinterval paragraph</p>
						</div>

					</div>

				</div>

			</div>

		</div>

		<!-- Solution -->
		<div class="stripe green case-study__content">

			<div class="stripe_copy-container">

				<h3 class="title">The Solution</h3>
				<p class="copy">A modular CSS framework was built, named lazyouts, allowing for anyone on the team with basic front-end knowledge to construct consistent layouts that conform to QuotedCar's design guidelines.</p>
				<p class="copy">The development of lazyouts allowed for the team's junior developer to make a larger contribution. Moreover, the investment paid off by freeing up some of the more repetitive work of the team's senior developer.</p>

			</div>

			<div class="stripe_stat-container">
				<h3 class="title--stat">37%</h3>
				<p class="copy--stat">Amount of front-end sprint tasks that were able to be deferred from a senior to a junior level developer.</p>
			</div>

		</div>

		<div class="content cards d1c t1c m1c case-study__content content--solution">

			<div class="card">

				<img data-srcset=".../../images/case-studies/overview/overview_email-gen@1x.png,
						   ../../images/case-studies/overview/overview_email-gen@2x.png 2x,
						   ../../images/case-studies/overview/overview_email-gen@3x.png 3x"
					data-src="../../images/case-studies/overview/overview_email-gen@3x.png"
					src="../../images/case-studies/overview/overview_email-gen@3x.png"
					class="img--full-width color lazyload modal_trigger--open"
					alt="Title 1"
					data-description="Description 1">

				<p class="copy">Here is some copy to go along with this other stuff.</p>

				<img data-srcset="../../images/case-studies/overview/overview_qc-logo@1x.png,
						   ../../images/case-studies/overview/overview_qc-logo@2x.png 2x,
						   ../../images/case-studies/overview/overview_qc-logo@3x.png 3x"
					data-src="../../images/case-studies/overview/overview_qc-logo@3x.png"
					src="../../images/case-studies/overview/overview_qc-logo@3x.png"
					class="img--full-width color lazyload modal_trigger--open"
					alt="Title 2"
					data-description="Description 2">

				<p class="copy">And here are some more things to go along with this other stuff.</p>

			</div>

		</div>

		<!-- Case Studies Pager -->
		<div class="pager">
			<div class="pager__title">
				<h3 class="title">More Case Studies</h3>
			</div>
			<div class="pager__links">
				<a class="page__prev" href="/quotedcar-logo/">
					<i class="material-icons">keyboard_backspace</i>
					<h4 class="subtitle">QuotedCar's Logo Design</h4>
				</a>
				<a class="page__next" href="/online-price-book/">
					<h4 class="subtitle">Online Price Book</h4>
					<i class="material-icons">keyboard_backspace</i>
				</a>
			</div>
		</div>

		<!-- Footer -->
		<div class="footer">
			<div class="copyright-year">
				<div class="copyright-year--left">20</div>
				<div class="copyright-year--middle">
					<img data-srcset="/images/copyright.svg"
						data-src="/images/copyright.svg"
						src="/images/copyright.svg" alt="Copyright Tyler Richardson All Rights Reserved" class="copyright-symbol lazyload">
				</div>
				<div class="copyright-year--right">20</div>
			</div>
			<h2 class="copyright-attribution">Tyler Richardson</h2>
			<p class="copyright-copy">All Rights Reserved</p>
		</div>

		<!-- Modal -->
		<div class="modal hide">
			<div class="modal_close modal_trigger--close">
				<i class="material-icons">close</i>
			</div>
			<div class="modal_card">
				<!-- <div class="loader">
					<div class="loading-circle--1"></div>
					<div class="loading-circle--2"></div>
				</div> -->
				<img class="modal_img" src="" alt="">
				<div class="modal_type">
					<h3 class="title"></h3>
					<p class="copy"></p>
				</div>
			</div>
			<div class="modal_bg modal_trigger--close hide">
			</div>
		</div>

		<!-- JS -->
			<!-- The core Firebase JS SDK is always required and must be listed first -->
			<script src="/__/firebase/7.7.0/firebase-app.js"></script>
			<!-- TODO: Add SDKs for Firebase products that you want to use
			     https://firebase.google.com/docs/web/setup#available-libraries -->
			<script src="/__/firebase/7.7.0/firebase-analytics.js"></script>
			<!-- Initialize Firebase -->
			<script src="/__/firebase/init.js"></script>
			<!-- jQuery -->
			<script src="../../javascripts/plugins/jquery.min.js"></script>
			<!-- Lettering JS -->
			<script src="../../javascripts/jquery.lettering-0.6.1.min.js"></script>
			<!-- Lazysizes -->
			<script src="../../javascripts/plugins/lazysizes.min.js" async></script>
			<!-- node-vibrant -->
			<script src="../../javascripts/plugins/vibrant.min.js"></script>
			<!-- UI -->
			<script src="/javascripts/ui.min.js"></script>
	</body>
</html>
