@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900|Playfair+Display|Playfair+Display+SC:900&display=swap");
.case-study__content .title {
  color: #030b08;
  font-size: 27px;
  letter-spacing: -0.85px;
  line-height: 35px;
  text-align: left;
  padding: 0 50px 0 50px;
  margin-bottom: 25px; }

.subtitle {
  font-family: "Playfair Display SC", serif;
  color: #030b08;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.85px;
  line-height: 26px;
  text-align: left;
  padding: 0 50px 0 50px; }

.copy {
  padding: 0 50px 15px 50px; }

ul.list.role-list {
  list-style-type: none;
  padding: 20px 50px 25px 50px; }

ul.list.role-list li {
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px; }

.client-brand {
  width: 225px;
  padding: 20px 50px 35px 50px; }

.card .tags {
  margin: 0;
  padding: 20px 50px 25px 50px; }

.tags > .tag {
  box-shadow: none; }

.case-study__content {
  justify-items: center; }
  @media (max-width: 700px) {
    .case-study__content {
      padding: 0; } }

@media (max-width: 1300px) {
  .case-study__content.content--overview {
    padding-top: 0; } }

.case-study__content.content--solution .card {
  padding: 50px 50px 0px 50px; }

.case-study__content.content--solution .card .subtitle,
.case-study__content.content--solution .card .copy {
  padding-left: 0;
  padding-right: 0; }

.case-study__content.content--solution .card .copy {
  padding: 0;
  font-family: "Playfair Display", serif;
  color: #030b08;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 45px 0; }

.case-study__content > .card {
  width: 800px;
  background: white;
  box-shadow: 0 0 10px 0 #E3E3E3;
  border-radius: 3px;
  padding-top: 45px;
  padding-bottom: 25px;
  overflow: hidden; }
  @media (max-width: 1300px) {
    .case-study__content > .card {
      width: auto; } }
  @media (max-width: 700px) {
    .case-study__content > .card {
      box-shadow: none; } }

.case-study__content > .card.card--flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row; }
  @media (max-width: 1300px) {
    .case-study__content > .card.card--flex {
      flex-direction: column; } }

.case-study__content > .card.card--flex > .card__col--75 {
  flex-grow: 1;
  flex-basis: 75%; }
  @media (max-width: 1300px) {
    .case-study__content > .card.card--flex > .card__col--75 {
      flex-basis: 50%; } }

.case-study__content > .card.card--flex > .card__col--25 {
  flex-grow: 1;
  flex-basis: 25%;
  padding-top: 60px; }
  @media (max-width: 1300px) {
    .case-study__content > .card.card--flex > .card__col--25 {
      padding-top: 10px;
      flex-basis: 50%; } }

.card__col--25 > .subtitle,
.card__col--25 > .copy,
.card__col--25 > .client-brand,
.card__col--25 > ul.list.role-list,
.card__col--25 > .tags {
  padding-left: 0; }
  @media (max-width: 1300px) {
    .card__col--25 > .subtitle,
    .card__col--25 > .copy,
    .card__col--25 > .client-brand,
    .card__col--25 > ul.list.role-list,
    .card__col--25 > .tags {
      padding-left: 50px; } }

.card .img--full-width {
  width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  margin-bottom: 25px; }

.card .card--img-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  margin: 0;
  padding: 0 50px; }
  @media (max-width: 1300px) {
    .card .card--img-row {
      padding-bottom: 35px; } }
  @media (max-width: 700px) {
    .card .card--img-row {
      grid-template-columns: repeat(1, 1fr); } }

.card .card--img-row img.img-row__img {
  width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 2px; }

.timeline {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 50px 25px 50px; }

.timeline > #timeline-track {
  height: 100%;
  flex-basis: 80px;
  flex-grow: 1; }
  @media (max-width: 700px) {
    .timeline > #timeline-track {
      display: none; } }

#timeline-track > svg {
  min-height: inherit;
  margin: 5.5px 0 0 0;
  padding: 0; }

.timeline > .timeline-content {
  height: 100%;
  flex-grow: 1;
  position: relative;
  padding-left: 25px; }
  @media (max-width: 700px) {
    .timeline > .timeline-content {
      padding-left: 0; } }

.timeline-content > .interval,
.timeline-content > .subinterval {
  margin-bottom: 25px; }

.interval > .subtitle {
  padding: 0;
  margin: 0; }

.interval > .copy {
  padding: 0;
  margin: 0; }

.subinterval > .subtitle {
  font-family: "Montserrat", sans-serif;
  color: #EA3F85;
  font-size: 16px;
  font-weight: 400;
  padding: 0 0 0 0;
  margin: 0; }

.subinterval > .copy {
  padding: 0 0 0 0;
  margin: 0; }

.timeline--img-row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 25px;
  margin: 0 0 50px 0;
  padding: 0; }
  @media (max-width: 700px) {
    .timeline--img-row {
      grid-template-columns: repeat(1, 1fr); } }

.timeline--img-row > .timeline--img-row__img {
  width: 100%;
  height: auto;
  border: 1px solid #e3e3e3;
  border-radius: 2px; }

.stripe {
  width: 100%;
  height: auto;
  padding: 50px 25px 50px 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; }
  @media (max-width: 1300px) {
    .stripe {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 700px) {
    .stripe {
      padding-left: 0;
      padding-right: 0; } }

.stripe.black {
  background: #030b08; }

.stripe.green {
  background: #04D786; }

.stripe_copy-container {
  flex-grow: 1;
  flex-basis: 50%; }
  @media (max-width: 1300px) {
    .stripe_copy-container {
      flex-basis: 100%;
      margin-bottom: 25px; } }

.stripe.black .stripe_copy-container .title,
.stripe.black .stripe_copy-container .subtitle,
.stripe.black .stripe_copy-container .copy,
.stripe.black .stripe_stat-container .title--stat,
.stripe.black .stripe_stat-container .copy--stat {
  color: white; }

.stripe.green .stripe_copy-container .title,
.stripe.green .stripe_copy-container .subtitle,
.stripe.green .stripe_copy-container .copy,
.stripe.green .stripe_stat-container .title--stat,
.stripe.green .stripe_stat-container .copy--stat {
  color: #030b08; }

.stripe_copy-container .title {
  flex-grow: 1; }

.stripe_copy-container .subtitle {
  flex-grow: 1; }

.stripe_stat-container {
  flex-grow: 1;
  flex-basis: 25%; }
  @media (max-width: 1300px) {
    .stripe_stat-container {
      margin-bottom: 25px; } }

.stripe_stat-container .title--stat {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  letter-spacing: 0;
  padding-right: 25px; }
  @media (max-width: 1300px) {
    .stripe_stat-container .title--stat {
      text-align: center;
      padding: 0 50px; } }

.stripe.black .stripe_stat-container .title--stat {
  color: #04D786; }

.stripe_stat-container .copy--stat {
  font-style: italic;
  padding-right: 50px; }
  @media (max-width: 1300px) {
    .stripe_stat-container .copy--stat {
      text-align: center;
      padding: 0 25px; } }
  @media (max-width: 700px) {
    .stripe_stat-container .copy--stat {
      padding: 0 50px; } }

.pager {
  -webkit-animation: color-change-2x 10s linear infinite alternate both;
  animation: color-change-2x 10s linear infinite alternate both;
  width: 100%;
  height: auto; }

@-webkit-keyframes color-change-2x {
  0% {
    background: #ADFA2C; }
  100% {
    background: #04D786; } }
@keyframes color-change-2x {
  0% {
    background: #ADFA2C; }
  100% {
    background: #04D786; } }
.pager .pager__title {
  width: 100%;
  padding: 45px 50px 40px 50px;
  margin: 0; }

.pager__title .title {
  font-family: "Playfair Display SC", serif;
  color: #030b08;
  font-size: 27px;
  letter-spacing: -0.85px;
  line-height: 35px;
  text-align: center;
  padding: 0;
  margin: 0; }

.pager .pager__links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center; }
  @media (max-width: 700px) {
    .pager .pager__links {
      flex-direction: column; } }

.pager__links .page__prev {
  border-bottom: none;
  border-top: 2px solid #FFFFFF25;
  border-right: 2px solid #FFFFFF25;
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  margin: 0;
  transition: 450ms; }
  @media (max-width: 700px) {
    .pager__links .page__prev {
      border-right: none; } }

.page__prev .material-icons {
  color: #030b08;
  font-size: 36px; }

.page__prev .subtitle {
  font-family: "Montserrat", sans-serif;
  color: #030b08;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  padding: 0;
  margin: 0; }

.pager__links .page__next {
  border-bottom: none;
  border-top: 2px solid #FFFFFF25;
  flex-grow: 1;
  flex-basis: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 25px 50px;
  margin: 0;
  transition: 450ms; }

.page__next .material-icons {
  transform: rotate(180deg);
  color: #030b08;
  font-size: 36px; }

.page__next .subtitle {
  font-family: "Montserrat", sans-serif;
  color: #030b08;
  font-size: 15px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  line-height: 24px;
  padding: 0;
  margin: 0; }

.pager__links .page__prev:hover,
.pager__links .page__prev:focus,
.pager__links .page__prev:active,
.pager__links .page__next:hover,
.pager__links .page__next:focus,
.pager__links .page__next:active {
  background: #FFFFFF25;
  transition: 250ms; }

/*# sourceMappingURL=case-study.css.map */
