@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900|Playfair+Display|Playfair+Display+SC:900&display=swap");
.case-study__content .title {
  color: #030b08;
  font-size: 27px;
  letter-spacing: -0.85px;
  line-height: 35px;
  text-align: left;
  padding: 0 50px 0 50px;
  margin-bottom: 25px; }

.subtitle {
  font-family: "Playfair Display SC", serif;
  color: #030b08;
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.85px;
  line-height: 26px;
  text-align: left;
  padding: 0 50px 0 50px; }

.copy {
  padding: 0 50px 0 50px; }

ul.list.role-list {
  list-style-type: none;
  padding: 20px 50px 25px 50px; }

ul.list.role-list li {
  font-style: italic;
  padding-bottom: 15px; }

.client-brand {
  width: 225px;
  padding: 20px 50px 35px 50px; }

.card .tags {
  margin: 0;
  padding: 20px 50px 25px 50px; }

@media (max-width: 700px) {
  .case-study__content {
    padding: 0; } }

@media (max-width: 1300px) {
  .case-study__content.content--overview {
    padding-top: 0; } }

.case-study__content > .card {
  background: white;
  box-shadow: 0 0 10px 0 #E3E3E3;
  border-radius: 3px;
  padding-top: 45px;
  padding-bottom: 15px; }
  @media (max-width: 700px) {
    .case-study__content > .card {
      box-shadow: none; } }

.case-study__content > .card.card--flex {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row; }
  @media (max-width: 1300px) {
    .case-study__content > .card.card--flex {
      flex-direction: column; } }

.case-study__content > .card.card--flex > .card__col--75 {
  flex-grow: 1;
  flex-basis: 75%; }
  @media (max-width: 1300px) {
    .case-study__content > .card.card--flex > .card__col--75 {
      flex-basis: 50%; } }

.case-study__content > .card.card--flex > .card__col--25 {
  flex-grow: 1;
  flex-basis: 25%;
  padding-top: 60px; }
  @media (max-width: 1300px) {
    .case-study__content > .card.card--flex > .card__col--25 {
      padding-top: 10px;
      flex-basis: 50%; } }

.card__col--25 > .subtitle,
.card__col--25 > .copy,
.card__col--25 > .client-brand,
.card__col--25 > ul.list.role-list,
.card__col--25 > .tags {
  padding-left: 0; }
  @media (max-width: 1300px) {
    .card__col--25 > .subtitle,
    .card__col--25 > .copy,
    .card__col--25 > .client-brand,
    .card__col--25 > ul.list.role-list,
    .card__col--25 > .tags {
      padding-left: 50px; } }

.stripe {
  width: 100%;
  height: auto;
  padding: 50px 25px 50px 25px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center; }
  @media (max-width: 1300px) {
    .stripe {
      flex-direction: column;
      align-items: center; } }
  @media (max-width: 700px) {
    .stripe {
      padding-left: 0;
      padding-right: 0; } }

.stripe.black {
  background: #030b08; }

.stripe.green {
  background: #04D786; }

.stripe_copy-container {
  flex-grow: 1;
  flex-basis: 50%; }
  @media (max-width: 1300px) {
    .stripe_copy-container {
      flex-basis: 100%;
      margin-bottom: 25px; } }

.stripe.black .stripe_copy-container .title,
.stripe.black .stripe_copy-container .subtitle,
.stripe.black .stripe_copy-container .copy,
.stripe.black .stripe_stat-container .title--stat,
.stripe.black .stripe_stat-container .copy--stat {
  color: white; }

.stripe.green .stripe_copy-container .title,
.stripe.green .stripe_copy-container .subtitle,
.stripe.green .stripe_copy-container .copy,
.stripe.green .stripe_stat-container .title--stat,
.stripe.green .stripe_stat-container .copy--stat {
  color: #030b08; }

.stripe_copy-container .title {
  flex-grow: 1; }

.stripe_copy-container .subtitle {
  flex-grow: 1; }

.stripe_stat-container {
  flex-grow: 1;
  flex-basis: 25%; }
  @media (max-width: 1300px) {
    .stripe_stat-container {
      margin-bottom: 25px; } }

.stripe_stat-container .title--stat {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  letter-spacing: 0;
  padding-right: 25px; }
  @media (max-width: 1300px) {
    .stripe_stat-container .title--stat {
      text-align: center;
      padding: 0 50px; } }

.stripe.black .stripe_stat-container .title--stat {
  color: #04D786; }

.stripe_stat-container .copy--stat {
  font-style: italic;
  padding-right: 50px; }
  @media (max-width: 1300px) {
    .stripe_stat-container .copy--stat {
      text-align: center;
      padding: 0 25px; } }
  @media (max-width: 700px) {
    .stripe_stat-container .copy--stat {
      padding: 0 50px; } }

/*# sourceMappingURL=case-study.css.map */
