<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<!-- Meta -->
			<title>Case Studies &middot; Tyler Richardson</title>
			<meta name="description" content="Examples of the creative work of Product Designer Tyler Richardson" />
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="manifest" href="manifest.json">
			<link rel="apple-touch-icon" href="images/icon-192.png">
		<!-- CSS -->
			<!-- UI -->
			<link rel="stylesheet" href="/stylesheets/css/ui.min.css" rel="preload" as="style" />
			<link rel="stylesheet" href="/stylesheets/css/case-studies.min.css" rel="preload" as="style" />
			<!-- Material Icons -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	</head>
	<body>
		<!-- Navigation -->
		<div class="nav">
			<div class="nav-tab">
				<i class="material-icons nav-close-icon">close</i>
			</div>
			<div class="nav-content">
				<div class="nav-content">
					<img data-srcset="/images/nav-badge@1x.png,
							   /images/nav-badge@2x.png 2x,
							   /images/nav-badge@3x.png 3x"
						data-src="/images/nav-badge@3x.png"
						src="/images/nav-badge@3x.png" alt="Product Designer, Tyler Richardson" class="nav-art lazyload">
						<a href="/" class="nav-link">About Me</a>
						<a href="/case-studies/" class="nav-link nav-current-view">Case Studies</a>
				</div>
			</div>
		</div>
		<div class="content-controls cc-hide">
			<div class="cc-button">
				<i class="material-icons cc-icon">view_module</i>
			</div>
			<div class="cc-button">
				<i class="material-icons cc-icon">view_stream</i>
			</div>
		</div>
		<!-- Hero -->
		<div class="hero">
			<!-- Hero Copy -->
			<div class="hero-copy">
				<h1 class="hero-title">Tyler Richardson</h1>
				<h2 class="hero-subtitle">Case Studies</h2>
			</div>
			<!-- Hero Filter -->
			<div class="hero-filter"></div>
			<!-- Hero Buttons -->
			<!-- <div class="hero-buttons">
				<a href="#" class="hero-btn">
					<img src="../images/tyler.png" alt="Tyler Richardson" class="hero-btn--img">
				</a>
				<a href="#" class="hero-btn">
					<i class="material-icons">email</i>
				</a>
			</div> -->
			<!-- View More CTA -->
			<div class="hero-view-more-row">
				<a href="#projects" class="hero-view-more-btn heartbeat">
					<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</div>

		<!-- -->
		<a name="projects"></a>

		<div class="cards d3c t1c m1c overview-content">
			<!-- Card / Online Price Book -->
			<span></span>
			<div class="card">
				<img src="/images/case-studies/overview/overview_opb-wireframe-loop.gif" alt="Online Price Book Wireframes" class="card-art lazyload">
				<h3 class="card-title">Online Price Book</h3>
				<p class="card-copy">A private pricing catologue for new car dealerships.</p>
				<h4 class="card-subtitle">Project Roles</h4>
				<ul class="card-list">
					<li>Interaction Designer</li>
					<li>Front-End Developer</li>
				</ul>
				<h4 class="card-subtitle">Skills &amp; Tools Involved</h4>
				<div class="tags">
					<div class="tag">Wireframing</div>
					<div class="tag">Prototyping</div>
					<div class="tag">Sketch</div>
					<div class="tag">Principle</div>
					<div class="tag">Overflow</div>
					<div class="tag">HTML</div>
					<div class="tag">CSS</div>
					<div class="tag">Sass</div>
					<div class="tag">JavaScript</div>
					<div class="tag">jQuery</div>
					<div class="tag">Node.js</div>
					<div class="tag">Express.js</div>
					<div class="tag">Handlebars.js</div>
					<!-- <div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div> -->
				</div>
				<div class="card-stripe green"></div>
			</div>
		</div>

		<div class="cards d3c t1c m1c overview-content">
			<!-- Card / QuotedCar Dashboard -->
			<span></span>
			<div class="card">
				<img data-srcset="/images/case-studies/overview/overview_dashboard-wireframe@1x.png,
						   /images/case-studies/overview/overview_dashboard-wireframe@2x.png 2x,
						   /images/case-studies/overview/overview_dashboard-wireframe@3x.png 3x"
					data-src="/images/case-studies/overview/overview_dashboard-wireframe@3x.png"
					src="/images/case-studies/overview/overview_dashboard-wireframe@3x.png" alt="QuotedCar Dashboard Wireframes" class="card-art lazyload">
				<h3 class="card-title">QuotedCar Dashboard</h3>
				<p class="card-copy">The interaction design for the dashboard powering QuotedCar's features.</p>
				<h4 class="card-subtitle">Project Roles</h4>
				<ul class="card-list">
					<li>Interaction Designer</li>
					<li>Front-End Developer</li>
				</ul>
				<h4 class="card-subtitle">Skills &amp; Tools Involved</h4>
				<div class="tags">
					<div class="tag">Wireframing</div>
					<div class="tag">Prototyping</div>
					<div class="tag">Sketch</div>
					<div class="tag">Principle</div>
					<div class="tag">Overflow</div>
					<div class="tag">HTML</div>
					<div class="tag">CSS</div>
					<div class="tag">Sass</div>
					<div class="tag">JavaScript</div>
					<div class="tag">jQuery</div>
					<div class="tag">Node.js</div>
					<div class="tag">Express.js</div>
					<div class="tag">Handlebars.js</div>
					<!-- <div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div> -->
				</div>
				<div class="card-stripe teal"></div>
			</div>
		</div>

		<div class="cards d3c t1c m1c overview-content">
			<!-- Card / Pricing Satellite Feature -->
			<span></span>
			<div class="card">
				<img src="/images/case-studies/overview/overview_satellite-ui-loop.gif" alt="Pricing Satellite Feature" class="card-art lazyload">
				<h3 class="card-title">Pricing Satellite Feature</h3>
				<p class="card-copy">A tool for new car dealerships that allows for rapid vehicle price modification, and price consistency across the web.</p>
				<h4 class="card-subtitle">Project Roles</h4>
				<ul class="card-list">
					<li>UX Researcher</li>
					<li>Interaction Designer</li>
					<li>Front-End Developer</li>
				</ul>
				<h4 class="card-subtitle">Skills &amp; Tools Involved</h4>
				<div class="tags">
					<div class="tag">Wireframing</div>
					<div class="tag">Prototyping</div>
					<div class="tag">Sketch</div>
					<div class="tag">Principle</div>
					<div class="tag">Overflow</div>
					<div class="tag">HTML</div>
					<div class="tag">CSS</div>
					<div class="tag">Sass</div>
					<div class="tag">JavaScript</div>
					<div class="tag">jQuery</div>
					<div class="tag">Node.js</div>
					<div class="tag">Express.js</div>
					<div class="tag">Handlebars.js</div>
					<!-- <div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div> -->
				</div>
				<div class="card-stripe blue"></div>
			</div>
		</div>

		<div class="cards d3c t1c m1c overview-content">
			<!-- Card / Email Generator Feature -->
			<span></span>
			<div class="card">
				<img data-srcset="/images/case-studies/overview/overview_email-gen@1x.png,
						   /images/case-studies/overview/overview_email-gen@2x.png 2x,
						   /images/case-studies/overview/overview_email-gen@3x.png 3x"
					data-src="/images/case-studies/overview/overview_email-gen@3x.png"
					src="/images/case-studies/overview/overview_email-gen@3x.png" alt="Email Generator Feature" class="card-art lazyload">
				<h3 class="card-title">Email Generator Feature</h3>
				<p class="card-copy">A tool for car salespeople to quickly put together the kind of quality email content that their shoppers have come to expect.</p>
				<h4 class="card-subtitle">Project Roles</h4>
				<ul class="card-list">
					<li>UX Researcher</li>
					<li>Interaction Designer</li>
					<li>Front-End Developer</li>
				</ul>
				<h4 class="card-subtitle">Skills &amp; Tools Involved</h4>
				<div class="tags">
					<div class="tag">Wireframing</div>
					<div class="tag">Prototyping</div>
					<div class="tag">Sketch</div>
					<div class="tag">Principle</div>
					<div class="tag">Overflow</div>
					<div class="tag">HTML</div>
					<div class="tag">CSS</div>
					<div class="tag">Sass</div>
					<div class="tag">JavaScript</div>
					<div class="tag">jQuery</div>
					<div class="tag">Node.js</div>
					<div class="tag">Express.js</div>
					<div class="tag">Handlebars.js</div>
					<!-- <div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div> -->
				</div>
				<div class="card-stripe green"></div>
			</div>
		</div>

		<div class="cards d3c t1c m1c overview-content">
			<!-- Card / QuotedCar Logo Design -->
			<span></span>
			<div class="card">
				<img data-srcset="/images/case-studies/overview/overview_qc-logo@1x.png,
						   /images/case-studies/overview/overview_qc-logo@2x.png 2x,
						   /images/case-studies/overview/overview_qc-logo@3x.png 3x"
					data-src="/images/case-studies/overview/overview_qc-logo@3x.png"
					src="/images/case-studies/overview/overview_qc-logo@3x.png" alt="QuotedCar Logo Design" class="card-art lazyload">
				<h3 class="card-title">QuotedCar Logo Design</h3>
				<p class="card-copy">The logo and wordmark design for my startup, QuotedCar.</p>
				<h4 class="card-subtitle">Project Roles</h4>
				<ul class="card-list">
					<li>Graphic Design</li>
					<li>Typesetting</li>
				</ul>
				<h4 class="card-subtitle">Skills &amp; Tools Involved</h4>
				<div class="tags">
					<div class="tag">Sketch</div>
					<div class="tag">Figma</div>
					<!-- <div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div>
					<div class="tag"></div> -->
				</div>
				<div class="card-stripe teal"></div>
			</div>
		</div>

		<!-- <div class="cards d3c t1c m1c overview-content">
			<span></span>
			<div class="card">

				<div class="card-stripe blue"></div>
			</div>
		</div> -->

		<!-- <div class="cards d3c t1c m1c overview-content">
			<span></span>
			<div class="card">

				<div class="card-stripe green"></div>
			</div>
		</div> -->

		<!-- <div class="cards d3c t1c m1c overview-content">
			<span></span>
			<div class="card">

				<div class="card-stripe teal"></div>
			</div>
		</div> -->

		<!-- <div class="cards d3c t1c m1c overview-content">
			<span></span>
			<div class="card">

				<div class="card-stripe blue"></div>
			</div>
		</div> -->


		<!-- Footer -->
		<div class="footer">
			<div class="copyright-year">
				<div class="copyright-year--left">20</div>
				<div class="copyright-year--middle">
					<img data-srcset="/images/copyright.svg"
						data-src="/images/copyright.svg"
						src="/images/copyright.svg" alt="Copyright Tyler Richardson All Rights Reserved" class="copyright-symbol lazyload">
				</div>
				<div class="copyright-year--right">20</div>
			</div>
			<h2 class="copyright-attribution">Tyler Richardson</h2>
			<p class="copyright-copy">All Rights Reserved</p>
		</div>
		<!-- JS -->
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/7.7.0/firebase-app.js"></script>
		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="/__/firebase/7.7.0/firebase-analytics.js"></script>
		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- Lettering JS -->
		<script src="/javascripts/jquery.lettering-0.6.1.min.js"></script>
		<!-- Lazysizes -->
		<script src="javascripts/plugins/lazysizes.min.js" async></script>
		<!-- UI -->
		<script src="/javascripts/ui.min.js"></script>
	</body>
</html>
