<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<!-- Meta -->
			<title>Portfolio &middot; Tyler Richardson</title>
			<meta name="description" content="The creative work of Product Designer Tyler Richardson" />
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="manifest" href="manifest.json">
			<link rel="apple-touch-icon" href="images/icon-192.png">
		<!-- CSS -->
			<!-- UI -->
			<link rel="stylesheet" href="/stylesheets/css/ui.min.css" rel="preload" as="style" />
			<!-- Material Icons -->
			<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	</head>
	<body>
		<!-- Navigation -->
		<!--
		<div class="nav">
			<div class="nav-tab"></div>
			<div class="nav-content">
			</div>
		</div>
		-->
		<!-- Hero -->
		<div class="hero">
			<!-- Hero Copy -->
			<div class="hero-copy">
				<h1 class="hero-title">Tyler Richardson</h1>
				<h2 class="hero-subtitle">Product Designer</h2>
			</div>
			<!-- Hero Filter -->
			<div class="hero-filter"></div>
			<!-- Hero Buttons -->
			<!-- <div class="hero-buttons">
				<a href="#" class="hero-btn">
					<img src="../images/tyler.png" alt="Tyler Richardson" class="hero-btn--img">
				</a>
				<a href="#" class="hero-btn">
					<i class="material-icons">email</i>
				</a>
			</div> -->
			<!-- View More CTA -->
			<div class="hero-view-more-row">
				<a href="#about" class="hero-view-more-btn heartbeat">
					<i class="material-icons">arrow_downward</i>
				</a>
			</div>
		</div>
		<!-- Content -->
		<a name="about"></a>
		<div class="content cards d3c t1c m1c homepage-content">
			<!-- Card / About Me -->
			<span></span>
			<div class="card">
				<img data-srcset="/images/about@1x.png,
						   /images/about@2x.png 2x,
						   /images/about@3x.png 3x"
					data-src="/images/about@3x.png"
					src="/images/about@3x.png" alt="A Bit About Me" class="card-art lazyload">
				<h3 class="card-title">A Bit About Me</h2>
				<p class="card-copy">Hey there, my name is <a href="https://www.linkedin.com/in/tyler-richardson-775228a0/" rel="noopener">Tyler</a> and thank you for your interest in my work. I am a Product Designer living in the San Francisco Bay Area that’s worked at a startup named <a href="https://quotedcar.com" rel="noopener">QuotedCar</a> for the past four years.</p>
				<p class="card-copy">I thrive in a world where I can put my creative problem solving skills to work everyday. I lean hard on my experience in UX Design, UI Design, and Front-End Development to create solutions to complex interaction
					design problems, and to create experiences that are simple and delightful for users.</p>
				<p class="card-copy">While I love bridging the gap between people and machines, I’ve also gained experience over the past two years in agile project management. In fact, I’ve been leading a small product team utilizing a SCRUM framework to manage our projects.</p>
				<p class="card-copy">Keep scrolling to learn more about me, and my work. Thanks for visiting!</p>
				<div class="card-stripe green"></div>
			</div>
		</div>
		<div class="content cards d3c t1c m1c homepage-content">
			<!-- Card / Skills & Tools -->
			<span></span>
			<div class="card">
				<img data-srcset="/images/skills@1x.png,
						   /images/skills@2x.png 2x,
						   /images/skills@3x.png 3x"
					data-src="/images/skills@3x.png"
					src="/images/skills@3x.png" alt="Skills & Tools" class="card-art lazyload">
				<h3 class="card-title">Skills &amp; Tools</h2>
				<p class="card-copy">These tags represent the methods, software and web technologies that I use regularly in my design work.</p>
				<h4 class="card-subtitle">UX Design &amp; Interaction Design</h4>
				<div class="tags">
					<div class="tag">Wireframing</div>
					<div class="tag">Low-Fidelity Prototyping</div>
					<div class="tag">High-Fidelity Prototyping</div>
					<div class="tag">User Personas</div>
					<div class="tag">User Journeys</div>
					<div class="tag">User Surveys</div>
					<div class="tag">Usability Testing</div>
					<div class="tag">Affinity Diagraming</div>
					<div class="tag">Card Sorting</div>
					<div class="tag">Information Architecture</div>
					<div class="tag">Contextual Inquiries</div>
				</div>

				<h4 class="card-subtitle">Visual Design &amp; Prototyping</h4>
				<div class="tags">
					<div class="tag">Sketch</div>
					<div class="tag">Figma</div>
					<div class="tag">Principle</div>
					<div class="tag">Overflow</div>
					<div class="tag">XD</div>
					<div class="tag">InVision Studio</div>
					<div class="tag">Illustrator</div>
					<div class="tag">Photoshop</div>
					<div class="tag">Premiere Pro</div>
					<div class="tag">After Effects</div>
				</div>

				<h4 class="card-subtitle">Front-End Development</h4>
				<div class="tags">
					<div class="tag">HTML</div>
					<div class="tag">CSS</div>
					<div class="tag">SASS</div>
					<div class="tag">JavaScript</div>
					<div class="tag">jQuery</div>
					<div class="tag">Vue.js</div>
					<div class="tag">Node.js</div>
					<div class="tag">NPM</div>
					<div class="tag">Express.js</div>
					<div class="tag">Handlebars</div>
					<div class="tag">Grunt</div>
					<div class="tag">SVG</div>
					<div class="tag">Git</div>
					<div class="tag">GitHub</div>
					<div class="tag">BitBucket</div>
					<div class="tag">CLI</div>
				</div>

				<h4 class="card-subtitle">Project Management</h4>
				<div class="tags">
					<div class="tag">G Suite</div>
					<div class="tag">Slack</div>
					<div class="tag">Jira</div>
					<div class="tag">Confluence</div>
					<div class="tag">Trello</div>
				</div>

				<div class="card-stripe teal"></div>
			</div>
		</div>
		<div class="content cards d3c t1c m1c homepage-content">
			<!-- Card / Portofolio -->
			<span></span>
			<div class="card">
				<img data-srcset="/images/portfolio@1x.png,
						   /images/portfolio@2x.png 2x,
						   /images/portfolio@3x.png 3x"
					data-src="/images/portfolio@3x.png"
					src="/images/portfolio@3x.png" alt="My Portfolio" class="card-art lazyload">
				<h3 class="card-title">My Portfolio</h2>
				<p class="card-copy">Through these links you can learn more about me, and my creative work. Please email me through the request button below to get a copy of my private portfolio PDF. Thanks for checking me out!</a>
				<div class="card-button-row">
					<a href="https://www.linkedin.com/in/tyler-richardson-775228a0/" class="card-brandmark" rel="noopener">
						<img data-srcset="/images/logo-linkedin@1x.png,
								   	   /images/logo-linkedin@2x.png 2x,
								        /images/logo-linkedin@3x.png 3x"
							data-src="/images/logo-linkedin@3x.png"
							src="/images/logo-linkedin@3x.png" alt="LinkedIn" class="brand-logo lazyload">
					</a>
					<a href="https://dribbble.com/198e4" class="card-brandmark" rel="noopener">
						<img data-srcset="/images/logo-dribbble@1x.png,
								        /images/logo-dribbble@2x.png 2x,
								        /images/logo-dribbble@3x.png 3x"
							data-src="/images/logo-dribbble@3x.png"
							src="/images/logo-dribbble@3x.png" alt="Dribbble" class="brand-logo lazyload">
					</a>
					<a href="https://github.com/198e4" class="card-brandmark" rel="noopener">
						<img data-srcset="/images/logo-github@1x.png,
								        /images/logo-github@2x.png 2x,
								        /images/logo-github@3x.png 3x"
							data-src="/images/logo-github@3x.png"
							src="/images/logo-github@3x.png" alt="GitHub" class="brand-logo lazyload">
					</a>
					<a href="https://codepen.io/198e4" class="card-brandmark" rel="noopener">
						<img data-srcset="/images/logo-codepen@1x.png,
								        /images/logo-codepen@2x.png 2x,
								        /images/logo-codepen@3x.png 3x"
							data-src="/images/logo-codepen@3x.png"
							src="/images/logo-codepen@3x.png" alt="CodePen" class="brand-logo lazyload">
					</a>
					<a href="mailto:tyler.colby.richardson@gmail.com?subject=Portfolio Request" class="card-button heartbeat">Request My Portfolio</a>
				</div>
				<div class="card-stripe blue"></div>
			</div>
		</div>
		<!-- Footer -->
		<div class="footer">
			<div class="copyright-year">
				<div class="copyright-year--left">20</div>
				<div class="copyright-year--middle">
					<img data-srcset="/images/copyright.svg"
						data-src="/images/copyright.svg"
						src="/images/copyright.svg" alt="Copyright Tyler Richardson All Rights Reserved" class="copyright-symbol lazyload">
				</div>
				<div class="copyright-year--right">20</div>
			</div>
			<h2 class="copyright-attribution">Tyler Richardson</h2>
			<p class="copyright-copy">All Rights Reserved</p>
		</div>
		<!-- JS -->
		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="/__/firebase/7.7.0/firebase-app.js"></script>
		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script src="/__/firebase/7.7.0/firebase-analytics.js"></script>
		<!-- Initialize Firebase -->
		<script src="/__/firebase/init.js"></script>
		<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<!-- Lettering JS -->
		<script src="/javascripts/jquery.lettering-0.6.1.min.js"></script>
		<!-- Lazysizes -->
		<script src="javascripts/plugins/lazysizes.min.js" async></script>
		<!-- UI -->
		<script src="/javascripts/ui.min.js"></script>
	</body>
</html>
