/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// SASS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	// Type Styles

		@import url('https://fonts.googleapis.com/css?family=Montserrat:400,900|Source+Code+Pro:400|Playfair+Display|Playfair+Display+SC:900&display=swap');

		// Titles
		$font-primary: 'Playfair Display SC', serif; // 900 in use
		$font-secondary: 'Montserrat', sans-serif; // 400, 900 in use
		// Copy
		$font-standard: 'Playfair Display', serif; // 400 in use
		// Code Samples
		$font-code: 'Source Code Pro', monospace; // 600 in use

	// Colors

		// Primary Color, i.e. Brand Colors

			$default: #a7f700;
			$default-accent: #101112; // 6% Darker

		// Secondary Use Colors

			$success-green: #36F485;
			$success-green-accent: #16F271; // 7% Darker

			$warning-orange: #FAA434;
			$warning-orange-accent: #F99513; // 7% Darker

			$error-red: #F44336;
			$error-red-accent: #F22516; // 9% Darker

		// Blacks & Whites

			$black-100: rgba(3, 11, 8, 1);
			$black-95: rgba(3, 11, 8, 0.95);
			$black-90: rgba(3, 11, 8, 0.90);
			$black-85: rgba(3, 11, 8, 0.85);
			$black-80: rgba(3, 11, 8, 0.80);
			$black-75: rgba(3, 11, 8, 0.75);
			$black-50: rgba(3, 11, 8, 0.50);
			$black-25: rgba(3, 11, 8, 0.25);

			$white-100: rgba(255, 255, 255, 1);
			$white-75: rgba(255, 255, 255, 0.75);
			$white-50: rgba(255, 255, 255, 0.50);
			$white-25: rgba(255, 255, 255, 0.25);

		// Borders

			$bdr: #E3E3E3;

			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
			// Typography
			/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

					// Titles
					.case-study__content .title {
						color: $black-100;
						font-size: 27px;
						letter-spacing: -0.85px;
						line-height: 35px;
						text-align: left;
						// padding: 25px 50px 0 50px;
						padding: 0 50px 0 50px;
						margin-bottom: 25px;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {

						}
					}

						.title--stat {

							@media (max-width: 1300px) {

							}
							@media (max-width: 700px) {

							}
						}

					// Sub Titles
					.subtitle {
						font-family:  $font-primary;
						color: $black-100;
						font-size: 18px;
						font-weight: 900;
						letter-spacing: -0.85px;
						line-height: 26px;
						text-align: left;
						padding: 0 50px 0 50px;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {

						}
					}

						// Copy
						.copy {
							// padding: 10px 50px 15px 50px;
							padding: 0 50px 15px 50px;
							// margin-top: 15px;
							// margin-bottom: 25px;
							@media (max-width: 1300px) {

							}
							@media (max-width: 700px) {

							}
						}

						.copy--stat {

							@media (max-width: 1300px) {

							}
							@media (max-width: 700px) {

							}
						}

					// List
					ul.list,
					ol.list {
						font-family: $font-standard;
						color: $black-100;
						font-size: 18px;
						letter-spacing: 0.2px;
						line-height: 30px;
						font-weight: 400;
						text-align: left;
						margin: 15px 0 25px 0;
						padding: 5px 50px 0 90px;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {

						}
					}

					ul.list.timeline-card,
					ol.list.timeline-card {
						margin-top: 0;
						padding: 0 50px 0 50px;
					}

					// .copy + ul.list.timeline-card,
					// .copy + ol.list.timeline-card {
					// 	margin-top: -15px;
					// 	padding: 0 50px 0 50px;
					// }

						// List / Project Role List
						ul.list li,
						ol.list li {
							margin: 0;
							padding: 0 0 10px 0;
							@media (max-width: 1300px) {

							}
							@media (max-width: 700px) {

							}
						}

					// Client Brand Mark
					.client-brand {
						width: 225px;
						padding: 20px 50px 35px 50px;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {

						}
					}

					// Skill Tags
					.card .tags {
						margin: 0;
						padding: 20px 50px 25px 50px;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {

						}
					}

						.tags > .tag {
							box-shadow: none;
						}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Case Study Content Container
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

// Primary Content Container for the Case Study View
.case-study__content {
	justify-items: center;
	@media (max-width: 1300px) {

	}
	@media (max-width: 700px) {
		padding: 0;
	}
}

	// "Overview" Card Container
	.case-study__content.content--overview {
		@media (max-width: 1300px) {
			padding-top: 0;
		}
		@media (max-width: 700px) {

		}
	}

	// "Process" Card Container
	.case-study__content.content--process {
		@media (max-width: 1300px) {

		}
		@media (max-width: 700px) {

		}
	}

	// "Solution" Card Container
	.case-study__content.content--solution {
		@media (max-width: 1300px) {

		}
		@media (max-width: 700px) {

		}
	}

		.case-study__content.content--solution .card {
			padding: 50px 50px 0px 50px;
			@media (max-width: 1300px) {

			}
			@media (max-width: 700px) {

			}
		}

			.case-study__content.content--solution .card .subtitle,
			.case-study__content.content--solution .card .copy {
				padding-left: 0;
				padding-right: 0;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

			.case-study__content.content--solution .card .copy {
				padding: 0;
				font-family: $font-standard;
				color: $black-100;
				font-style: italic;
				font-size: 18px;
				letter-spacing: 0.2px;
				line-height: 30px;
				font-weight: 400;
				text-align: left;
				margin: 0 0 45px 0;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

	// Cards Within the Case Study's Content Area
	.case-study__content > .card {
		width: 800px;
		background: $white-100;
		box-shadow: 0 0 10px 0 #E3E3E3;
		border-radius: 3px;
		padding-top: 45px;
		padding-bottom: 25px;
		overflow: hidden;
		@media (max-width: 1300px) {
			width: auto;
		}
		@media (max-width: 700px) {
			box-shadow: none;
		}
	}

		.case-study__content > .card.card--flex {
			display: flex;
			align-items: flex-start;
			justify-content: center;
			flex-direction: row;
			@media (max-width: 1300px) {
				flex-direction: column;
			}
			@media (max-width: 700px) {

			}
		}

		// Card Column / 75%
		.case-study__content > .card.card--flex > .card__col--75 {
			flex-grow: 1;
			flex-basis: 75%;
			@media (max-width: 1300px) {
				flex-basis: 50%;
			}
			@media (max-width: 700px) {

			}
		}

		// Card Column / 25%
		.case-study__content > .card.card--flex > .card__col--25 {
			flex-grow: 1;
			flex-basis: 25%;
			padding-top: 60px;
			@media (max-width: 1300px) {
				padding-top: 10px;
				flex-basis: 50%;
			}
			@media (max-width: 700px) {

			}
		}

			// Type Alignment Modifier
			.card__col--25 > .subtitle,
			.card__col--25 > .copy,
			.card__col--25 > .client-brand,
			.card__col--25 > ul.list.role-list,
			.card__col--25 > .tags {
				padding-left: 0;
				@media (max-width: 1300px) {
					padding-left: 50px;
				}
				@media (max-width: 700px) {

				}
			}

			.card .img--full-width {
				width: 100%;
				height: auto;
				border: 1px solid #e3e3e3;
				cursor: pointer;
				// box-shadow: 0 0 10px 0 #e3e3e3;
				margin-bottom: 25px;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

			.card .card--img-row {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				// grid-template-areas: "col";
				grid-row-gap: 25px;
				grid-column-gap: 25px;
				margin: 0;
				padding: 0 50px;
				@media (max-width: 1300px) {
					padding-bottom: 35px;
				}
				@media (max-width: 700px) {
					grid-template-columns: repeat(1, 1fr);
				}
			}

				.card .card--img-row img.img-row__img {
					width: 100%;
					height: auto;
					border: 1px solid #e3e3e3;
					border-radius: 2px;
					@media (max-width: 1300px) {

					}
					@media (max-width: 700px) {

					}
				}

			.timeline {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: center;
				padding: 0 50px 25px 50px;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

				.timeline > #timeline-track {
					// background: #f4f4f490;
					height: 100%;
					flex-basis: 80px;
					flex-grow: 1;
					@media (max-width: 1300px) {

					}
					@media (max-width: 700px) {
						display: none;
					}
				}

					#timeline-track > svg {
						min-height: inherit;
						margin: 5.5px 0 0 0;
						padding: 0;
					}

				.timeline > .timeline-content {
					height: 100%;
					flex-grow: 1;
					position: relative;
					padding-left: 25px;
					@media (max-width: 1300px) {

					}
					@media (max-width: 700px) {
						padding-left: 0;
					}
				}

					.timeline-content > .interval,
					.timeline-content > .subinterval {
						// border: 1px dotted #ADFA2C;
						margin-bottom: 25px;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {

						}
					}

						.interval > .subtitle {
							padding: 0;
							margin: 0;
							@media (max-width: 1300px) {

							}
							@media (max-width: 700px) {

							}
						}

						.interval > .copy {
							padding: 0 0 15px 0;
							margin: 0;
							@media (max-width: 1300px) {

							}
							@media (max-width: 700px) {

							}
						}

						.subinterval > .subtitle {
							font-family: $font-secondary;
							color: #EA3F85;
							font-size: 16px;
							font-weight: 400;
							padding: 0 0 0 0;
							margin: 0;
							@media (max-width: 1300px) {
								// padding-left: 0;
							}
							@media (max-width: 700px) {

							}
						}

						.subinterval > .copy {
							padding: 0 0 0 0;
							// margin: 0;
							@media (max-width: 1300px) {
								// padding-left: 0;
							}
							@media (max-width: 700px) {

							}
						}

					.timeline--img-row {
						display: grid;
						// grid-template-columns: repeat(3, 1fr);
						grid-row-gap: 25px;
						grid-column-gap: 25px;
						margin: 0 0 50px 0;
						padding: 0;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {
							grid-template-columns: repeat(1, 1fr);
						}
					}

					.timeline--img-row.grid_1 {
						grid-template-columns: repeat(1, 1fr);
					}

					.timeline--img-row.grid_2 {
						grid-template-columns: repeat(2, 1fr);
					}

					.timeline--img-row.grid_3 {
						grid-template-columns: repeat(3, 1fr);
					}

					.timeline--img-row.grid_4 {
						grid-template-columns: repeat(4, 1fr);
					}

					.timeline--img-row.grid_5 {
						grid-template-columns: repeat(5, 1fr);
					}

					.timeline--img-row.grid_6 {
						grid-template-columns: repeat(6, 1fr);
					}

					.timeline--img-row.interval--img-row {
						// margin: 0 0 50px 0;
						// border: 1px solid #e3e3e3;
						// border-radius: 2px;
						// padding: 15px;
						@media (max-width: 1300px) {

						}
						@media (max-width: 700px) {

						}
					}

					.timeline--img-row.subinterval--img-row {
						// margin: 0 0 50px 0;
						// border: 1px solid #e3e3e3;
						// border-radius: 2px;
						// padding: 15px;
						@media (max-width: 1300px) {
							// margin-left: 0;
						}
						@media (max-width: 700px) {

						}
					}

						.timeline--img-row > .timeline--img-row__img {
							width: 100%;
							height: auto;
							border: 1px solid #e3e3e3;
							border-radius: 2px;
							@media (max-width: 1300px) {

							}
							@media (max-width: 700px) {

							}
						}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Problem & Solution Stripe Container
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

	.stripe {
		width: 100%;
		height: auto;
		padding: 50px 25px 50px 25px;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: center;
		@media (max-width: 1300px) {
			flex-direction: column;
			align-items: center;
		}
		@media (max-width: 700px) {
			padding-left: 0;
			padding-right: 0;
		}
	}

		.stripe.black {
			background: $black-100;
		}

		.stripe.green {
			background: #04D786; // Original Green
			// background: #ADFA2C;
		}

		.stripe_copy-container {
			flex-grow: 1;
			flex-basis: 50%;
			@media (max-width: 1300px) {
				flex-basis: 100%;
				margin-bottom: 25px;
			}
			@media (max-width: 700px) {

			}
		}

			.stripe.black .stripe_copy-container .title,
			.stripe.black .stripe_copy-container .subtitle,
			.stripe.black .stripe_copy-container .copy,
			.stripe.black .stripe_stat-container .title--stat,
			.stripe.black .stripe_stat-container .copy--stat {
				color: $white-100;
			}

			.stripe.green .stripe_copy-container .title,
			.stripe.green .stripe_copy-container .subtitle,
			.stripe.green .stripe_copy-container .copy,
			.stripe.green .stripe_stat-container .title--stat,
			.stripe.green .stripe_stat-container .copy--stat {
				color: $black-100;
			}

			.stripe_copy-container .title {
				flex-grow: 1;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

			.stripe_copy-container .subtitle {
				flex-grow: 1;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

		.stripe_stat-container {
			flex-grow: 1;
			flex-basis: 25%;
			@media (max-width: 1300px) {
				margin-bottom: 25px;
			}
			@media (max-width: 700px) {

			}
		}

			.stripe_stat-container .title--stat {
				font-family: $font-secondary;
				font-size: 70px;
				letter-spacing: 0;
				padding-right: 25px;
				@media (max-width: 1300px) {
					text-align: center;
					padding: 0 50px;
				}
				@media (max-width: 700px) {

				}
			}

				.stripe.black .stripe_stat-container .title--stat {
					color: #04D786;
					@media (max-width: 1300px) {

					}
					@media (max-width: 700px) {

					}
				}

				.stripe.green .stripe_stat-container .title--stat {
					// color: #2C60FA;
					@media (max-width: 1300px) {

					}
					@media (max-width: 700px) {

					}
				}

			.stripe_stat-container .copy--stat {
				font-style: italic;
				padding-right: 50px;
				@media (max-width: 1300px) {
					text-align: center;
					padding: 0 25px;
				}
				@media (max-width: 700px) {
					padding: 0 50px;
				}
			}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Code Examples
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.code {
	width: 100%;
	height: auto;
	background: $black-100;
	margin-bottom: 25px;
	padding: 25px 50px 25px 50px;
	border-radius: 2px;
	@media (max-width: 1300px) {

	}
	@media (max-width: 700px) {
		padding: 5px 25px 15px 25px;
		margin-left: -50px;
		margin-right: -50px;
		width: calc(100% + 100px);
	}
}

	.block {
		color: #04D786;
		font-family: $font-code;
		text-align: left;
		font-size: 14px;
		line-height: 26px;
		font-weight: 400;
		@media (max-width: 1300px) {

		}
		@media (max-width: 700px) {
			font-size: 10px;
		}
	}

	.block > .blue {
		color: #5CCDFA;
	}

	.block > .white {
		color: $white-100;
	}

	.block > .pink {
		color: #EA3F85;
	}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Case Studies Pager Nav Above the Case Study Page Footer
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

.pager {
	// background: #ADFA2C;
	-webkit-animation: color-change-2x 10s linear infinite alternate both;
	animation: color-change-2x 10s linear infinite alternate both;
	width: 100%;
	height: auto;
	@media (max-width: 1300px) {

	}
	@media (max-width: 700px) {

	}
}

	@-webkit-keyframes color-change-2x {
		0% {
			background: #ADFA2C;
		}
		100% {
			background: #04D786;
		}
	}
	@keyframes color-change-2x {
		0% {
			background: #ADFA2C;
		}
		100% {
			background: #04D786;
		}
	}

	.pager .pager__title {
		width: 100%;
		padding: 45px 50px 40px 50px;
		margin: 0;
		@media (max-width: 1300px) {

		}
		@media (max-width: 700px) {

		}
	}

		.pager__title .title {
			font-family: $font-primary;
			color: $black-100;
			font-size: 27px;
			letter-spacing: -0.85px;
			line-height: 35px;
			text-align: center;
			padding: 0;
			margin: 0;
			@media (max-width: 1300px) {

			}
			@media (max-width: 700px) {

			}
		}

	.pager .pager__links {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: row;
		align-items: stretch;
		justify-content: center;
		@media (max-width: 1300px) {

		}
		@media (max-width: 700px) {
			flex-direction: column;
		}
	}

		.pager__links .page__prev {
			border-bottom: none;
			// border-top: 2px solid #97ed06;
			// border-right: 2px solid #97ed06;
			border-top: 2px solid #FFFFFF25;
			border-right: 2px solid #FFFFFF25;
			flex-grow: 1;
			flex-basis: 50%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 25px 50px;
			margin: 0;
			transition: 450ms;
			@media (max-width: 1300px) {

			}
			@media (max-width: 700px) {
				border-right: none;
			}
		}

			.page__prev .material-icons {
				color: $black-100;
				font-size: 36px;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

			.page__prev .subtitle {
				font-family: $font-secondary;
				color: $black-100;
				font-size: 15px;
				font-weight: 900;
				text-transform: uppercase;
				text-align: center;
				line-height: 24px;
				padding: 0;
				margin: 0;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

		.pager__links .page__next {
			border-bottom: none;
			// border-top: 2px solid #97ed06;
			border-top: 2px solid #FFFFFF25;
			flex-grow: 1;
			flex-basis: 50%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			padding: 25px 50px;
			margin: 0;
			transition: 450ms;
			@media (max-width: 1300px) {

			}
			@media (max-width: 700px) {

			}
		}

			.page__next .material-icons {
				transform: rotate(180deg);
				color: $black-100;
				font-size: 36px;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

			.page__next .subtitle {
				font-family: $font-secondary;
				color: $black-100;
				font-size: 15px;
				font-weight: 900;
				text-transform: uppercase;
				text-align: center;
				line-height: 24px;
				padding: 0;
				margin: 0;
				@media (max-width: 1300px) {

				}
				@media (max-width: 700px) {

				}
			}

			.pager__links .page__prev:hover,
			.pager__links .page__prev:focus,
			.pager__links .page__prev:active,
			.pager__links .page__next:hover,
			.pager__links .page__next:focus,
			.pager__links .page__next:active {
				// background: #97ed06;
				background: #FFFFFF25;
				transition: 250ms;
			@media (max-width: 1300px) {

			}
			@media (max-width: 700px) {

			}
		}
